---
import Layout from '../layouts/Layout.astro';
import Logo from '../components/Logo.astro';
---

<Layout title="Assets - Design System SwP test repo">
	<main>
		<Logo brand="swedbankpay" />
	</main>
</Layout>

<style>
</style>
