---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Assets - Design System SwP test repo">
	<main>
<h1>Test flags icons</h1>

<h2>Flags shortlist - always imported by CSS</h2>

<i class="flag-icon flag-icon-no" aria-hidden="true"></i>
<i class="flag-icon flag-icon-se" aria-hidden="true"></i>
<i class="flag-icon flag-icon-dk" aria-hidden="true"></i>
<i class="flag-icon flag-icon-fi" aria-hidden="true"></i>
<i class="flag-icon flag-icon-eu" aria-hidden="true"></i>

<h2>Flags extended list - dev must import them from npm packages assets</h2>

<i class="flag-icon flag-icon-us" aria-hidden="true"></i>
<i class="flag-icon flag-icon-ru" aria-hidden="true"></i>
<i class="flag-icon flag-icon-co" aria-hidden="true"></i>
<i class="flag-icon flag-icon-fr" aria-hidden="true"></i>
<i class="flag-icon flag-icon-jp" aria-hidden="true"></i>

</main>

</Layout>