---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Homepage - Design System SwP test repo">
	<main>
		<a href="/ds-assets">Test assets (logo, flags, icons, etc)</a>

		<section>
			<h2>Buttons</h2>
			<button class="btn btn-primary btn-xl" type="button">Primary button</button>
		</section>
		<section>
			<h2>Cards</h2>
			<a href="#" class="cards ">
				<i class="cards-icon at-document" aria-hidden="true"></i>
				<span class="h4">Title</span>
				<div class="cards-content">Write the supportive paragraph here.</div>
				<div class="cards-cta">
						<span>Continue</span><span class="arrow"></span>
				</div>
		</a>
		</section>
	</main>
</Layout>

<style>
</style>
